DEVICE={{ifDevice}}
TYPE=Ethernet
BOOTPROTO=static
# DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
# NAME={{ifDevice}}
# UUID={{ifUuid}}
ONBOOT=yes
HWADDR={{ifMacAddr}}
DHCP=no
IPV6_PEERDNS=yes
IPV6_PEERROUTES=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
IPADDR={{ifIpv4Addr}}
NETMASK=255.255.255.0
# GATEWAY={{ifGatewayIpAddr}}
DNS1=1.1.1.1
DNS2=8.8.8.8
